.input-form {
  padding: 0;
  border: 0;
  margin: 0;
  width: inherit;
  margin-bottom: 16px;
}
.input-form_legend {
  visibility: hidden;
  color: #999999;
  padding: 0;
  font-size: 13px;
}
.input-form_input {
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #3369f3;
  padding: 4px 0;
  font-size: 16px;
}
.input-form_input::placeholder {
  color: gray;
}
.input-form_input::placeholder:hover {
  color: #000000;
}
.input-form_input::placeholder:focus-visible {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #3369F3;
}
.input-form_input:not(:placeholder-shown) + .input-form_legend {
  visibility: visible;
}
