style
    include input.css

mixin input({ name, type="text", value })
    fieldset.input-form
        input.input-form__input(placeholder=name type=type value=value)
        legend.input-form__legend=name
