.input-form {
  padding: 0;
  border: 0;
  margin: 0;
  width: inherit;
  margin-bottom: 16px;
}
.input-form__input {
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--link);
  padding: 4px 0;
  font-size: var(--font-m);
}
.input-form__input::placeholder {
  color: var(--grey);
}
.input-form__input::placeholder:hover {
  color: var(--black);
}
.input-form__input::placeholder:focus-visible {
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--blue);
}
.input-form__legend {
  visibility: hidden;
  color: var(--grey);
  padding: 0;
  font-size: var(--font-s);
}
.input-form__input:not(:placeholder-shown) + .input-form__legend {
  visibility: visible;
}
