.input-form {
	padding: 0;
	border: 0;
	margin: 0;
	width: inherit;
	margin-bottom: 16px;

	&__input {
		width: 100%;
		box-sizing: border-box;
		outline: 0;
		border: 0;
		border-bottom: 1px solid var(--link);
		padding: 4px 0;
		font-size: var(--font-m);
	}

	&__input::placeholder {
		color: var(--grey);

		&:hover {
			color: var(--black);
		}

		&:focus-visible {
			outline: 0;
			border: 0;
			border-bottom: 1px solid var(--blue);
		}
	}

	&__legend {
		visibility: hidden;
		color: var(--grey);
		padding: 0;
		font-size: var(--font-s);
	}

	&__input:not(:placeholder-shown) + &__legend {
		visibility: visible;
	}

	&__error {
		color: var(--error);
	}
}
