style
    include createChat.less

include ../modal/modal.pug

mixin createChat(list=[])

    div.creating-chat
        +modal([{href: '/profile',title: "Profile"}, {href:'/login',title: "Sign out"}], 'bottom')
        button.create-button