include ../../components/conversation/conversation.pug
include ../modalButton/modalButton.pug

style
    include chats.css

-
    const LIST = [
        {name: "Aaaa Aaa", lastMessage: "aaaa", lastMessageDate: "", countUnreadMessages: 100},
        {name: "Bbbb Bbb", lastMessage: "bbbb", lastMessageDate: "", countUnreadMessages: 10},
        {name: "Cccc Ccc", lastMessage: "cccc", lastMessageDate: "", countUnreadMessages: 33},
        {name: "Dddd Ddd", lastMessage: "dddd", lastMessageDate: "", countUnreadMessages: 4},
        {name: "Eeee Eee", lastMessage: "eeee", lastMessageDate: "", countUnreadMessages: 1},
        {name: "Ffff Fff", lastMessage: "ffff", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Gggg Ggg", lastMessage: "gggg", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Aaaa Aaa", lastMessage: "aaaa", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Bbbb Bbb", lastMessage: "bbbb", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Cccc Ccc", lastMessage: "cccc", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Dddd Ddd", lastMessage: "dddd", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Eeee Eee", lastMessage: "eeee", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Ffff Fff", lastMessage: "ffff", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Gggg Ggg", lastMessage: "gggg", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Aaaa Aaa", lastMessage: "aaaa", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Bbbb Bbb", lastMessage: "bbbb", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Cccc Ccc", lastMessage: "cccc", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Dddd Ddd", lastMessage: "dddd", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Eeee Eee", lastMessage: "eeee", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Ffff Fff", lastMessage: "ffff", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Gggg Ggg", lastMessage: "gggg", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Aaaa Aaa", lastMessage: "aaaa", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Bbbb Bbb", lastMessage: "bbbb", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Cccc Ccc", lastMessage: "cccc", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Dddd Ddd", lastMessage: "dddd", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Eeee Eee", lastMessage: "eeee", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Ffff Fff", lastMessage: "ffff", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Gggg Ggg", lastMessage: "gggg", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Aaaa Aaa", lastMessage: "aaaa", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Bbbb Bbb", lastMessage: "bbbb", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Cccc Ccc", lastMessage: "cccc", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Dddd Ddd", lastMessage: "dddd", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Eeee Eee", lastMessage: "eeee", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Ffff Fff", lastMessage: "ffff", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Aaaa Aaa", lastMessage: "aaaa", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Bbbb Bbb", lastMessage: "bbbb", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Cccc Ccc", lastMessage: "cccc", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Dddd Ddd", lastMessage: "dddd", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Eeee Eee", lastMessage: "eeee", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Ffff Fff", lastMessage: "ffff", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Gggg Ggg", lastMessage: "gggg", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Aaaa Aaa", lastMessage: "aaaa", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Bbbb Bbb", lastMessage: "bbbb", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Cccc Ccc", lastMessage: "cccc", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Dddd Ddd", lastMessage: "dddd", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Eeee Eee", lastMessage: "eeee", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Ffff Fff", lastMessage: "ffff", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Gggg Ggg", lastMessage: "gggg", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Aaaa Aaa", lastMessage: "aaaa", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Bbbb Bbb", lastMessage: "bbbb", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Cccc Ccc", lastMessage: "cccc", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Dddd Ddd", lastMessage: "dddd", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Eeee Eee", lastMessage: "eeee", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Ffff Fff", lastMessage: "ffff", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Gggg Ggg", lastMessage: "gggg", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Aaaa Aaa", lastMessage: "aaaa", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Bbbb Bbb", lastMessage: "bbbb", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Cccc Ccc", lastMessage: "cccc", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Dddd Ddd", lastMessage: "dddd", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Eeee Eee", lastMessage: "eeee", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Ffff Fff", lastMessage: "ffff", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Gggg Ggg", lastMessage: "gggg", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Aaaa Aaa", lastMessage: "aaaa", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Bbbb Bbb", lastMessage: "bbbb", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Cccc Ccc", lastMessage: "cccc", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Dddd Ddd", lastMessage: "dddd", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Eeee Eee", lastMessage: "eeee", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Ffff Fff", lastMessage: "ffff", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Gggg Ggg", lastMessage: "gggg", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Aaaa Aaa", lastMessage: "aaaa", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Bbbb Bbb", lastMessage: "bbbb", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Cccc Ccc", lastMessage: "cccc", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Dddd Ddd", lastMessage: "dddd", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Eeee Eee", lastMessage: "eeee", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Ffff Fff", lastMessage: "ffff", lastMessageDate: "", countUnreadMessages: 0},
        {name: "Gggg Ggg", lastMessage: "gggg", lastMessageDate: "", countUnreadMessages: 0},
    ]


mixin chats()
    div.chats 
        div.chats__title
            +modalButton({
                id: "setting-modal",
                position: "top",
                icon: 'setting',
                list: [{href: '/profile',title: "Profile", icon: 'user'}, {href:'/login',title: "Sign out", icon: 'sign-out'}],
            })
            input.chats__title__search(placeholder="Search")

        div.chats__list                
            div.chats__list__creating-chat
                +modalButton({
                    id: "creating-chat",
                    isCreatingChat: true,
                    position: "bottom",
                    icon: 'pencil',
                    list: [{href: '/create-chat',title: "Create chat", icon: 'chat'}]
                })

            each val in LIST
                +conversation(val)                   

    script(type="module" src="../modules/modalButton/modalButton.js")