.lenta {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.lenta__header,
.lenta__footer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 54px;
  margin: 0 4.5rem;
  padding-left: 0;
  padding-right: 0;
  height: fit-content;
  background: #FFFFFF;
}
.lenta__header {
  border-bottom: 1px solid #EAEAEA;
  padding: 12px 0.5rem;
}
.lenta__footer {
  padding: 22px 0.5rem;
  border-top: 1px solid #EAEAEA;
}
.lenta__header__logo {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.lenta__header__logo__image {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: #000000;
}
.lenta__header__name {
  flex: 10;
  color: #000000;
  font-size: 16px;
}
.lenta__header__setting {
  width: 48px;
  height: 48px;
  background: #000000;
}
.lenta__conversation {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 4rem;
  overflow: hidden;
  overflow-y: scroll;
  flex: 20;
}
.type-message[contenteditable] {
  flex: 10;
  display: inline-block;
  font-size: 16px;
  background: #EFEFEF;
  width: inherit;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 32px;
  z-index: 1000;
  overflow-wrap: anywhere;
}
.type-message[contenteditable]:not(:placeholder-shown) {
  color: black;
}
.type-message[contenteditable]:hover,
.type-message[contenteditable]:active,
.type-message[contenteditable]:focus-visible {
  border: 0;
  outline: 0;
}
.type-message[contenteditable]:empty::before {
  content: "Message";
  color: #999999;
}
.send-message {
  width: 44px;
  height: 44px;
  background: #3369F3;
  border-radius: 50%;
}
@media only screen and (max-width: 680px) {
  .conversation {
    width: 55px;
    box-sizing: border-box;
  }
  .conversation-name-and-message,
  .conversation-unread-message-and-date {
    flex: 0;
    visibility: hidden;
  }
}
