.lenta {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.lenta__header,
.lenta__footer {
  flex: 1;
  display: flex;
  align-items: center;
  height: 54px;
  background: lightblue;
  padding: 0.5rem;
}
.lenta__footer {
  background: #FFFFFF;
  justify-content: space-around;
  padding: 0 4.5rem;
  margin-bottom: 1rem;
}
.lenta__header__logo {
  flex: 1;
}
.lenta__header__logo__image {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: #000000;
}
.lenta__header__name {
  flex: 10;
  color: black;
}
.lenta__header__setting {
  flex: 1;
  height: 100%;
  background: red;
}
.lenta__conversation {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 4rem;
  overflow: hidden;
  overflow-y: scroll;
  flex: 20;
}
.type-message-block {
  display: flex;
  background: #999999;
  padding: 1rem;
  border-radius: 12px;
  color: #FFFFFF;
}
.type-message {
  display: inline-block;
  min-height: 42px;
  font-size: 16px;
  margin-right: 1rem;
}
.type-message[contenteditable] {
  font-size: 16px;
  color: black;
  background-color: transparent;
}
.type-message[contenteditable]:hover,
.type-message[contenteditable]:active,
.type-message[contenteditable]:focus-visible {
  border: 0;
  outline: 0;
}
.type-message[contenteditable]:empty::before {
  content: "Message";
}
.send-message {
  width: 68px;
  height: 68px;
  background: olive;
  border-radius: 50%;
}
