.chats {
    position: relative;
    z-index: 1000;
    height: 100%;

    border-right: 1px solid #EAEAEA;
    background: #FBFBFB;
}

.chats__title {
    display: flex;
    justify-content: space-around;
    margin: 0 1rem;
    border-bottom: 1px solid #EAEAEA;
    padding: 1rem 0;
}

.chats__title__setting-button {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #000000;
}
.chats__title__search {
    width: 80%;
    border: 0;
    background: #EFEFEF;
    color: black;
    padding: 0.25rem 1rem;
    border-radius: 8px;
}

.chats__title__search::placeholder {
    color: #999999;
}


.chats__list {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    width: inherit;
}
