.editable-form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: inherit;

    border-bottom: 1px solid #EAEAEA;
    padding: 1rem 0;

    font-size: 16px;
    
    &__name {
        color: #999999;
    }    
    &__value {
        color: #000000;
    }
}