.editable-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  border-bottom: 1px solid var(--light-border);
  padding: 1rem 0;
  font-size: var(--font-m);
}
.editable-form__name {
  color: var(--grey);
}
.editable-form__value {
  color: var(--black);
}
