include ../link/link.pug
include ../svg/svg.pug
include ../editableForm/editableForm.pug

style
    include user.css

mixin user()
    .user-info
        .user-info__photo
            .user-info__photo__sekeleton
                +svg({ width: "40px", height: "40px", icon: 'photo' })

        .user-info__main
            +editableForm({ id: "name", name: "Name", value: "Dsadpsa", edit })
            +editableForm({ id: "last-name", name: "Last Name", value: "Kdsadsaew", edit })
            +editableForm({ id: "login", name: "Login", value: "dsassdsa", edit })
            +editableForm({ id: "mail", name: "Mail",  value: "dsads@yandex.r", edit})
            +editableForm({ id: "phone-number", name: "Phone number", value: "+79101032243", edit })

        .user-info__buttons                            
            button.user-info__buttons__save-button="Apply"
            


        a(class="user-info__close" href='/profile')
            +svg({ icon: 'close' })
