include ../../components/modal/modal.pug
include ../../components/svg/svg.pug

style 
    include modalButton.css


mixin modalButton({ id, icon="", isCreatingChat, list, position })    
    button(
        id=`${id}-button`,
        class=`modal-button ${isCreatingChat ? 'modal-button__creating-chat' : 'modal-button__icon'}`,
        onclick=`handleOpenModal(${id})`)
        if icon
            +svg({ icon })                
        if list
            +modal({ id, list, position })
