extends index.pug

block content 
  include ../components/input/input.pug
  include ../components/title/title.pug
  include ../components/link/link.pug 

  div.sign-up
    div.sign-up__wrapper
      +title({ value: "LET'S TALK ABOUT YOURSELF", center: true })
      div.form-input
        +input({ name: "Name" })
        +input({ name: "Last Name" })
        +input({ name: "Login" })
        +input({ name: "Mail" })
        +input({ name: "Phone number" })
        +input({ name: "Password", type: "password" })
        +input({ name: "Repeat password", type: "password" })
      +link({href: "/chat", title: "Let's go!", isButton: true})
      +link({href: "/login", title: "Sign in"})