extends index.pug

block content 
  include ../components/chats/chats.pug
  include ../components/lenta/lenta.pug
  
  div.page      
    div.left-block
      +chats()

    div.right-block
      +lenta()
  