doctype html
html(lang="en")
  include ../components/chats/chats.pug
  include ../components/lenta/lenta.pug
  include ../components/editUserInfo/editUserInfo.pug

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    style
      include style.css

    title message
  body
    div.page
      
      div.left-block
        +chats()

      div.right-block 
        +editUserInfo()

    script(type="module", src="index.js")