extends index.pug

block content 
  include ../modules/loginForm/loginForm.pug 

  +loginForm({
    title: { value: "WHO A U?", center: true },
    inputs: [
      { name: "Login" },
      { name: "Password", type: "password" },
    ],
    links: [
      {href: "/chat", title: "Sign in", isButton: true},
      {href: "/auth", title: "Sign up"}
    ]
  })
  