extends index.pug

block content 
  include ../components/chats/chats.pug
  include ../components/userInfo/userInfo.pug

  div.page      
    div.left-block
      +chats()

    div.right-block
      +userInfo()