extends layout.pug

block content 
  include ../components/chats/chats.pug
  include ../components/user/user.pug

  div.page      
    div.left-block
      +chats()

    div.right-block.right-block__center
      +user()