@primary: #FFFFFF;
@secondary: #FBFBFB;
@blue: #3369F3;
@red: #FF2F2F;
@black: #1E1E1E;
@grey: #999999;

html, body {
    height: 100%;
    font-size: 13px;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    color: @black;
    background: @primary;
}

.sign-in,
.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: auto;
}

.page {
    height: 100%;
    display: flex;
}

.left-block {

}

.right-block {
    width: 100%;
}