html,
body {
  height: 100%;
  font-size: 13px;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  color: #1E1E1E;
  background: #FFFFFF;
}
.sign-in,
.sign-up {
  width: 28rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: auto;
  padding-top: 8rem;
}
.page {
  height: 100%;
  display: flex;
}
.right-block {
  width: 100%;
}
