style
    include modal.less

mixin modal(list=[], bottom)
    div(class=bottom ? "modal modal_bottom" : "modal modal_top")
        each val in list
            div.modal_row
                div.modal__row__icon
                div.modal__row__title=val
                