.modal {
	position: absolute;
	display: none;
	flex-direction: column;
	height: fit-content;
	width: 12rem;
	background: var(--white);
	border-radius: 8px;
	padding: 1rem 0;
	box-sizing: border-box;
	box-shadow: 0 0 15px var(--grey);
	z-index: 2000;
	margin: 0;

	&_top {
		top: 5rem;
		left: 1rem;
	}

	&_top-left {
		top: 7rem;
		right: 0;
	}

	&_bottom {
		bottom: 5rem;
		right: 0;
	}

	&__row {
		cursor: pointer;
		display: flex;
		align-items: center;
		width: 100%;
		height: 2.5rem;
		padding: 0 1.75rem;
		box-sizing: border-box;
		text-decoration: none;
		color: var(--black);
		
		&:visited {
			color: var(--black);
		}

		&:hover {
			background: var(--black-4);
		}

		&:active {
			background: var(--black-8);
		}

		&__icon {
			width: 24px;
			height: 24px;
			background: transparent;
			margin-right: 1rem;
		}
	}
}
