style
    include modal.less

mixin modal(list=[], position="top")
    div(class=`modal modal_${position}`)
        each val in list
            a(class="modal_row" href=val.href)
                div.modal__row__icon
                div.modal__row__title=val.title
                