style
    include conversation.less


mixin conversation({ name, lastMessage, lastMessageDate, countUnreadMessages })
    div.conversation 
        div.conversation-logo

        div.conversation-name-and-message
            div.conversation-name-and-message__name=name
            div.conversation-name-and-message__message=lastMessage

        div.conversation-unread-message-and-date
            div.conversation-unread-message-and-date__date=lastMessageDate
            div.conversation-unread-message-and-date__unread-message=countUnreadMessages