.user-other__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 480px;
}
.edit-user-main__info-photo_icon {
  width: 160px;
  height: 160px;
  background: #000000;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.edit-user-info-apply {
  width: 480px;
}
.save-new-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #33c424;
  width: inherit;
  height: 36px;
  border-radius: 6px;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 16px;
  font-size: 16px;
  padding: 0.25rem;
  border: 0;
  cursor: pointer;
}
.save-new-info:hover {
  background: rgba(51, 196, 36, 0.9);
}
.save-new-info:active {
  background: rgba(51, 196, 36);
  outline: 3px solid rgba(51, 196, 36, 0.3);
}
