include ../link/link.pug
include ../input/input.pug
include ../svg/svg.pug

style
    include editUserInfo.css

mixin editUserInfo()
    .edit-user-info
        .edit-user-main__info-photo
            .edit-user-main__info-photo_icon

        .edit-user-other__info
            +input({ name: "Name", value: "Dsadpsa" })
            +input({ name: "Last Name", value: "Kdsadsaew" })
            +input({ name: "Login", value: "dsassdsa" })
            +input({ name: "Mail",  value: "dsads@yandex.ru"})
            +input({ name: "Phone number", value: "+79101032243" })

        .edit-user-info-apply            
            button.save-new-info="Apply"

    a(class="close_user-info" href='/profile')
        +svg({ icon: 'close' })
