include ../../components//input/input.pug
include ../../components/title/title.pug
include ../../components/link/link.pug

style
    include loginForm.css

mixin loginForm ({ title, inputs, links }) 
  div.login-form
    div.login-form__wrapper
        +title({ value: title.value, center: title.center })
        div.login-form__wrapper__inputs
            each input in inputs
                +input({ name: input.name, type: input.type })
        each link in links            
            +link({href: link.href, title: link.title, isButton: link.isButton})
