include ../modal/modal.pug
include ../svg/svg.pug

style 
    include modalButton.css


mixin modalButton({ id, icon="", isCreatingChat, list, position })    
    button(
        id=`${id}-button`,
        class=`modal-button ${isCreatingChat ? 'modal-button_creating-chat' : 'modal-button_icon'}`,
        onclick=`handleOpenModal(${id})`)
        if icon
            div.icon
                +svg({ icon })                
        if list
            +modal({ id, list, position })
